@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
}

.ultrasmall {
  @apply font-inter text-ultraxs tracking-[-0.1px] leading-[18px];
}

.small {
  @apply font-inter text-xs tracking-[-0.14px] leading-[19px];
}

.base {
  @apply font-inter text-base tracking-[-0.16px] leading-[24px];
}

.large {
  @apply font-inter text-lg tracking-[-0.2px] leading-[32px];
}

.xlarge {
  @apply font-inter text-xl tracking-[-0.3px] leading-[24px];
}

.heading {
  @apply font-inter text-heading font-bold tracking-[-0.075ch] leading-[40px];
}

.title {
  @apply font-inter text-title font-bold tracking-[-0.075ch] leading-[76px];
}

.grid-background {
  background: radial-gradient(circle at center, transparent, #f7f7f7);
}

.marquee-container {
  width: calc(100vw - (100vw - 100%)) !important;
  background-color: #f7f7f7;
}

body.no-scroll {
  overflow: hidden;
}
